body {
  background-image: url("../img/tile.jpg");
  overflow-x: hidden;
}

.deleteAllToDos {
  box-shadow: 1px 1px 5px 1px black;
}

.display-1 {
  width: 300px;
  height: 100px;
  background: url("../img/title.png") no-repeat;
}

.my-note {
  background: url("../img/formbg.jpg") repeat;
  height: 350px;
  box-shadow: 1px 1px 10px 1px;
}

.trans-p-bg {
  background: transparent;
  padding-left: 80px;
  padding-top: 12px;
  font-size: 22px;
  border: none;
  resize: none;
  outline: none;
}

.trans-p-bg-note {
  background: transparent;
  border: none;
  resize: none;
  outline: none;
}

.form-control:focus {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mt-50 {
  margin-top: 50px;
}

.list-group-item {
  background: url("../img/notebg.png") no-repeat;
  background-size: cover;
  border: 0;
  padding-bottom: 20px;
  max-height: 340px;
  animation: fadein-animation 0.5s;
  &:hover {
    .fa, .fa-trash, .fa-1x, .fa-pull-right, .btn-warning {
      opacity: 1;
    }
  }
}

.fa-trash {
  margin-top: 8%;
  margin-right: 12%;
}

.fa-trash {
  opacity: 0;
}

@keyframes fadein-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }

}

.fadeout {
  animation-name: fadeout-animation;
  animation-duration: 0.5s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  border-radius: 10px;
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: blue;
}

.card {
  background: transparent;
  border: 0;
}

.text {
  height: 250px;
  overflow-y: auto;
  font-family: "Courier 10 Pitch", Times, serif;
  margin-top: 50px;
  font-size: 22px;
}

.error {
  font-size: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.list-inline {
  margin-top: 50px;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}